<div class="container amber lighten-3 our-form">
  <h2>Edit My Article</h2>
  <%= form_for @article do |f| %>
    <%= f.text_field :title, " Title " %>
    <%= f.text_area :body, " Content " %>
    <%= f.hidden_field :city_id, :value => @city.id %>
    <%= f.submit " Save My Changes! " %>
  <% end %>
</div>
