<div class="container">
  <h2>All Posts by <%= @user.first_name %> <%= @user.last_name %></h2>

  <!-- <%= link_to "Edit Profile", edit_user_path(current_user) %> -->

  @user = User.find(params[:user_id])
  @articles = @user.articles

      <!-- <% @articles.each do |article|  %>
      <%= @article.title  </br> %>
      <%= @article.body %> -->




</div>
