<div class="container">
  <h2><%= @city.city_name %>, <%= @city.country %></h2>
  <hr>
  <% if current_user %>
    <span class="new-article"><%= link_to "New article", new_article_path %></span>
    <span class="article-link"><%= link_to " My articles ", user_articles_path %></span>
  <% end %>

  <%= image_tag("#{@city.pic}", size: "800x600", :class => "big-city-pic responsive-img") %>

  <div>
    <% @city.articles.reverse_each do |article| %>
      <hr>
      <li>Title: <%= link_to article.title, article_path(article) %></li><br>
      <li>Content: <%= article.body.truncate(25, separator: /\s/) %></li><br>
    <% end %>
    <hr>
  </div>
  <span class="back-btn"><%= link_to "back", cities_path %></span>
</div>
