<div class="container">
  <h2><%= @city.city_name %>, <%= @city.country %></h2>
  <hr>
  <span class="new-article"><%= link_to "new article", new_article_path %></span>
  <span class="article-link"><%= link_to " articles ", user_articles_path %></span>

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
  </div>

  <hr>
  <span class="back-btn"><%= link_to "back", cities_path %></span>
</div>
